<div class="container my-12" style="background: #ffcbcb;">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" style="height: 500px; object-fit: cover;">
        <img src="https://media.istockphoto.com/id/949118068/photo/books.jpg?s=2048x2048&w=is&k=20&c=84QzSRpNc21wzXu5K7t7z0lSUQ93qIFZOmS84JKdvnI=" class="d-block w-100" alt="first">
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 5px;">
          <h5 style="color: white;">Unlock a World of Knowledge!</h5>
          <p style="color: white;">Dive into a universe of books waiting to be discovered.</p>
        </div>
      </div>
      <div class="carousel-item" style="height: 500px; object-fit: cover;">
        <img src="https://media.istockphoto.com/id/1031087940/photo/book_stack.jpg?s=2048x2048&w=is&k=20&c=pp2p2gdgVY9NeEm-5gS4dJwFVar2BjQ6m_Y8fPWSNjE=" class="d-block w-100" alt="second">
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 5px;">
          <h5 style="color: white;">Where Every Page Turns Into an Adventure!</h5>
          <p style="color: white;">Explore stories that ignite your imagination.</p>
        </div>
      </div>
      <div class="carousel-item" style="height: 500px; object-fit: cover;">
        <img src="https://media.istockphoto.com/id/583816330/photo/diverse-group-of-friends-discussing-a-book-in-library.jpg?s=2048x2048&w=is&k=20&c=-eEe4AQTPhJMiut_Qpn1PnsJE_qBeh_Gg1aYrxYfdH4=" class="d-block w-100" alt="third">
        <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.6); padding: 20px; border-radius: 5px;">
          <h5 style="color: white;">Where Stories Come to Life!</h5>
          <p style="color: white;">Experience the magic of storytelling in every book.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
